header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
}

.card-weather {
    background-color: palevioletred;
}

dt {
    float: left;
    margin-right: 7px;
}